<div class="flex h-screen w-screen">
  <div class="auth-bg bg-primary hidden flex-1 items-center justify-center bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/images/auth-screens.png" alt="dashboard widget" />
      <h1 class="text-4xl font-bold">CBH</h1>
      <p class="text-md font-light">
        Hệ thống được xây dựng nhằm tạo ra một cơ sở dữ liệu trung tâm lưu trữ thông tin về các cơ thủ và lịch sử thi
        đấu, giúp
        minh bạch hóa quá trình tổ chức giải đấu Billiards.
      </p>
      <p class="text-md font-light">
        Với mục tiêu chống gian lận trong việc phân hạng và đăng ký
        giải
        đấu, hệ thống cho phép xác thực danh tính, kiểm tra thành tích, và đảm bảo mỗi cơ thủ tham gia đúng hạng đấu phù
        hợp với
        trình độ thực tế của họ.
      </p>
      <p class="text-md font-light">
        Nhờ đó, các giải đấu sẽ công bằng hơn, tránh tình trạng cơ
        thủ có trình độ cao cố tình
        đăng ký
        ở hạng thấp để giành lợi thế không chính đáng.
      </p>
    </div>
  </div>
  <div class="bg-background flex flex-1 items-center justify-center">
    <div class="overflow-y-auto px-4 w-full sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center gap-3">
        <a class="bg-primary rounded-sm p-2">
          <svg-icon src="assets/icons/logo.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        </a>
        <b class="text-md text-foreground font-bold"> CBH - Project </b>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>